# Angular / Node
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Spring Boot / Maven
target/
build/
nbbuild/
nbdist/
*.class
*.log

# Variables locales
.env
.env.*
!.env.example
application-local.properties
application-secret.properties

# IDE
.idea/
.vscode/
.settings/
.history/
*.iml
*.iws
*.ipr
.classpath
.project
.factorypath
.apt_generated/
.springBeans
.sts4-cache/
nbproject/private/

# Sistema
.DS_Store
Thumbs.db
desktop.ini